[submodule "PIV"]
	path = .vim/bundle/PIV
	url = https://github.com/spf13/PIV.git


[submodule "ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git


[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git


[submodule "supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git


[submodule "syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git


[submodule "vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git

[submodule "vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git 

[submodule "vim-php-namespace"]
	path = .vim/bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git 

[submodule "vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git 
